<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#" onclick="return false;">Bem vindo ao Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navHome" aria-controls="navHome"
        aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navHome">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Lista de Pessoas!</h1>
            <hr>
        </div>
    </div>
    <app-lista-pessoas></app-lista-pessoas>
</div>